{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
  
    <div class=" set-center wrapper2 card-box center_box">
        <div class=" wrapper">
            <h3>
                Welcome to My Cycle Rental API
            <hr class="bor-b">
            </h3>
            <ul>
                <li>
                    Nice 
                </li>
                <li>
                    You can Easily Download the file from Here
                    <a class="download" href="#Welcome">Download</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>